<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Agreement Sesuai App</title>
</head>
<body style="padding: 0px 20px 0px 20px;">
    <h2>Terms and Conditions</h2>

    These terms and conditions ("Terms") govern your use of the "sesuai" application ("the App"), which is provided by sesuai.application@gmail.com ("we," "our," or "us") and accessed via sesuai.application@gmail.com ("the Email"). By downloading, accessing, or using the App, you agree to be bound by these Terms. If you do not agree to these Terms, do not use the App.<br><br>

    <b>License and Intellectual Property:</b><br>
    We grant you a limited, non-exclusive, non-transferable, revocable license to use the App for personal, non-commercial purposes only.<br>
    All intellectual property rights related to the App, including but not limited to copyrights, trademarks, patents, and trade secrets, are owned by Sesuai Team. You may not reproduce, modify, distribute, or create derivative works based on the App or its content without our explicit consent.<br><br>

    <b>Privacy Policy:</b><br>
    Your use of the App is subject to our Privacy Policy, which governs the collection, use, and disclosure of your personal information.<br><br>


    <b>User Content:</b><br>
    Any content you submit, upload, or display in connection with the App ("User Content") remains your property, but you grant us a worldwide, non-exclusive, royalty-free license to use, reproduce, modify, adapt, publish, translate, distribute, and display your User Content for the purpose of providing and promoting the App.<br><br>

    <b>In-App Purchases:</b><br>
    The App may offer in-app purchases, such as virtual goods or premium features ("In-App Products").<br>
    You acknowledge and agree that any purchases of In-App Products are final and non-refundable.<br>
    You are solely responsible for any charges incurred through In-App Purchases made using your account.<br><br>

    <b>Prohibited Conduct:</b><br>
    You agree not to use the App for any unlawful, harmful, or abusive purposes.<br>
    You shall not violate any applicable laws, regulations, or third-party rights.<br>
    You shall not attempt to gain unauthorized access to the App or interfere with its proper functioning.<br><br>

    <b>Disclaimer of Warranties:</b><br>
    The App is provided on an "as-is" basis without warranties of any kind, whether express or implied.<br>
    We do not guarantee that the App will be error-free, secure, or uninterrupted, or that it will meet your requirements.<br><br>

    <b>Limitation of Liability:</b><br>
    We shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with the use of the App.<br>
    We shall not be liable for any issues related to In-App Purchases made through third-party platforms.<br><br>

    <b>Changes to the Terms:</b><br>
    We reserve the right to modify these Terms at any time without prior notice. The updated Terms will be effective upon posting on the App. Your continued use of the App after such changes constitutes acceptance of the modified Terms.<br><br>

    <b>Termination:</b><br>
    We may terminate or suspend your access to the App at any time, without notice and for any reason.<br><br>

    <b>Governing Law and Jurisdiction:</b><br>
    These Terms shall be governed by and construed in accordance with the laws of Indonesia, and any disputes arising out of or in connection with these Terms shall be subject to the exclusive jurisdiction of the courts in Jakarta, Indonesia.<br><br>

    <b>User Data Access and Rights:</b><br>
    You have the right to access, modify, and delete your data provided to us through the App. For any data access or modification requests, please contact us at sesuai.application@gmail.com.<br><br>

    <b>No Liability for Data Misuse:</b><br>
    We are not liable for any misuse or unauthorized access to the data you provide through the App. While we implement reasonable security measures, you acknowledge that no data transmission over the internet is completely secure.<br><br>

    <b>Contact Information:</b><br>
    For any questions or concerns regarding these Terms, you may contact us at sesuai.application@gmail.com.<br>
    By using the "sesuai" application, you acknowledge that you have read, understood, and agree to abide by these Terms.
</body>
</html>